@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$main-font: "Noto Sans JP", sans-serif;

// フォントウェイト
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #1A1A1A;
$white: #fff;



body {
  font-family: $main-font;
  font-weight: $regular;
  color: $black;
}

.u-bold{
  font-weight: $bold;
}

.u-regular{
  font-weight: $regular;
}

.u-blue{
  color: #24669a;
}

.u-pink{
  color: #f46289;
}

.u-red{
  color: #ed1c24;
}

.u-bg-yellow{
  background-color: #fff0d6;
}

.u-spacer{
  margin-bottom: 1em;
  display: block;
}