@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1000px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$main-font: "Noto Sans JP", sans-serif;

// フォントウェイト
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #1A1A1A;
$white: #fff;



body {
  font-family: $main-font;
  font-weight: $regular;
  color: $black;
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
  line-height: 1.75 !important;
}

// .inner{
//   // max-width: 600px;
//   @include mq(md) {
//       // max-width: 100%;
//   }
// }


.u-bold{
  font-weight: $bold;
}

.u-regular{
  font-weight: $regular;
}

.u-medium{
  font-weight: $medium;
}

.u-blue{
  color: #24669a;
}

.u-deep-blue{
  color: #0000ff;
}

.u-pink{
  color: #f46289;
}
.u-dark-pink{
  color: #ec708c;
}
.u-deep-pink{
  color: #ed1e79;
}

.u-red{
  color: #ed1c24;
}

.u-bg-beige{
  background-color: #fff0d6;
  display: inline-block;
  line-height: 1.58;
}

.u-bg-yellow{
  background-color: #ffff64;
  display: inline-block;
  line-height: 1.58;
}

.u-border-yellow{
  background: linear-gradient(transparent 65%, #ffff64 65%, #ffff64 98%, transparent 98%)
}

.u-spacer{
  height: calc(1em * 1.75);
  display: block;
}

.u-spacer-big{
  height: calc(1em * 2);
  display: block;
}