@use "global" as *;

.bimajyo__text {
  text-align: center;
  line-height: 1.9;
  font-size: rem(14);
  @include mq(md) {
      font-size: rem(18);
  }
}

.bimajyo__text--mb40{
  margin-bottom: rem(40);
}

.bimajyo__image {
  margin-bottom: rem(32);
}

.bimajyo__text-small {
  font-size: rem(10);
  text-align: right;
  line-height: 2.3;
  @include mq(md) {
      font-size: rem(12);
      line-height: 2;
  }
}

.bimajyo__text-fz19 {
  font-size: rem(19);
  @include mq(md) {
    font-size: rem(22);
  }
}

.bimajyo__text-fz16 {
  font-size: rem(16);
  @include mq(md) {
      font-size: rem(18);
  }
}

.bimajyo__text-border {
  border-bottom: 1px solid $black;
}