@use "global" as *;

.close {}

.close__title {
  box-shadow: 0px 7px 10px 0px #0000004D;
  margin-bottom: rem(60);
}

.close__text {
  text-align: center;
  line-height: 2;
  font-size: rem(14);
  margin-bottom: rem(38);
}

.close__text-fz19{
  font-size: rem(19);
}
.close__text-fz16{
  font-size: rem(16);
}

.close__image {
  margin-bottom: rem(24);
}

.close__cta {}

.close__cta-text-small {
  font-size: rem(10);
  display: flex;
  justify-content: flex-end;
}