@use "global" as *;

.intro{
  text-align: center;
  line-height: 1.75;
}

.intro__text-fz19{
  font-size: rem(19);
  line-height: 1;
  @include mq(md) {
      font-size: rem(22);
  }
}

.intro__text:last-of-type{
  margin-bottom: rem(50);
  @include mq(md) {
      margin-bottom: rem(70);
  }
}

.intro__arrow{
  width: rem(187);
  display: inline-block;
  @include mq(md) {
      width: rem(278);
  }
}