@use "global" as *;

.monitor {}

.monitor__text {
  font-size: rem(14);
  text-align: center;
  margin-bottom: rem(54);
}
.monitor__text-fz19 {
  font-size: rem(19);
}




.monitor__cta-text {
  font-size: rem(22);
  text-align: center;
}





.monitor__cta {
  max-width: rem(400);
  margin: rem(-8) auto 0;
}

.monitor__cta-text-small {
  font-size: rem(10);
  line-height: 2.8;
  text-align: right;
  margin-top: rem(-10);
}