@use "global" as *;
.more__bg {
  background-image: url(../images/common/gold.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: rem(42);
  padding-bottom: rem(28);
  position: relative;
  margin-bottom: rem(12);
  @include mq(md) {
        padding-top: rem(52);
          padding-bottom: rem(44);
          margin-bottom: 0;
  }
}

.more__head {
  width: rem(70);
  position: absolute;
  top: rem(-40);
  left: 50%;
  transform: translateX(-50%);
  @include mq(md) {
      width: rem(80);
      top:rem(-48);
  }
}

.more__inner {
  background-color: $white;
  border-radius: rem(10);
  padding-top: rem(38);
  padding-bottom: rem(22);
  @include mq(md) {
      padding-bottom: rem(34);
  }
}

.more__text{
  text-align: center;
  line-height: 2;
  margin-bottom: rem(28);
  font-size: rem(14);
  @include mq(md) {
      font-size: rem(18);
      line-height: 1.75;
  }
}

// .more__text--fz14 {
//   font-size: rem(14);
// }

.more__text-fz16{
  font-size: rem(16);
  @include mq(md) {
      font-size: rem(22);
  }
}

.more__image {
  width: 93%;
  margin: 0 auto;
  @include mq(md) {
      width: 74%;
  }
}

.more__image:last-of-type{
  @include mq(md) {
      width: 65%;
  }
}