@use "global" as *;

.point .inner {
  @include mq(md) {
    padding: 0;
  }
}

.point__title {
  margin-bottom: rem(39);
  @include mq(md) {
      margin-bottom: rem(27);
  }
}

.point__intro {
  text-align: center;
  margin-bottom: rem(54);
  @include mq(md) {
      margin-bottom: rem(48);
  }
}

.point__intro-fz19{
  font-size: rem(19);
  @include mq(md) {
      font-size: rem(22);
  }
}

.point__text-fz19--pc{
  @include mq(md) {
      font-size: rem(18) !important;
  }
}

.point__text-border {
  border-bottom: 1px solid $black;
}

.point__item {
  margin-bottom: rem(60);
  @include mq(md) {
      margin-bottom: rem(82);
  }
}

.point__item:last-of-type{
  @include mq(md) {
      margin-bottom: rem(116);
  }
}

.point__item--movie{
  margin-bottom: rem(113);
}

.point__title-image {
  margin-bottom: rem(40);
  // @include mq(md) {
  //     margin-left: rem(-25);
  //     margin-right: rem(-25);
  // }
}

.point__text {
  text-align: center;
  margin-bottom: rem(50);
}

.point__text-fz19{
  font-size: rem(19);
  line-height: 1;
  @include mq(md) {
      font-size: rem(22);
      line-height: 1.77;
  }
}

.point__movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.point__movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.point__image--mb90{
  margin-bottom: rem(90);
}