@use "global" as *;
.user__intro {
  text-align: center;
  margin-bottom: rem(60);
}

.user__bg-pink{
  background-image: url(../images/common/bg-user.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: rem(42);
}

.user__head {
  margin-bottom: rem(20);
}

.user__bg-white{
  background-color: $white;
  padding: rem(48) rem(16) rem(28);
}

.user__title{
  width: rem(260);
  margin: 0 auto rem(30);
}

.user__review{
  font-size: rem(14);
  line-height: 2;
  text-align: justify;
  margin-bottom: rem(40);
}

.user__text-fz19{
  font-size: rem(19);
}



.user__image {
  margin-right: rem(20);
  margin-bottom: rem(42);
}

.user__title-sub {
  width: rem(252);
  margin: 0 auto rem(28);
}

.user__review-small {
  font-size: rem(10);
  // display: inline-block;
  display: flex;
  justify-content: flex-end;
  // margin-left: auto;
  line-height: 1.5;
}