@use "global" as *;
.user__intro {
  text-align: center;
  margin-bottom: rem(60);
}

.user__bg-pink{
  background-image: url(../images/common/bg-user.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: rem(42);
}

.user__head {
  margin-bottom: rem(10);
}

.user__bg-white{
  background-color: $white;
  padding: rem(52) rem(16) rem(28);
  box-shadow: 2px 2px 10px 0px #00000033;
  @include mq(md) {
  padding: rem(54) rem(16) rem(58);

  }
}

.user__title{
  width: rem(260);
  margin: 0 auto rem(25);
  @include mq(md) {
      width: rem(425);
  margin: 0 auto rem(36);
  }
}

.user__review{
  font-size: rem(14);
  line-height: 2;
  text-align: justify;
  margin-bottom: rem(31);
  @include mq(md) {
      font-size: rem(18);
      line-height: 2.05;
      margin-bottom: rem(24);
  }
}

.user__review--last {
  margin-bottom: rem(21);
}

.user__text-fz19{
  font-size: rem(19);
  @include mq(md) {
      font-size: rem(22);
  }
}



.user__image {
  margin-right: rem(22);
  margin-bottom: rem(46);
  @include mq(md) {
      margin: 0 auto rem(60);
  width: rem(394);
  }
}

.user__title-sub {
  width: rem(252);
  margin: 0 auto rem(20);
  @include mq(md) {
      width: rem(318);
  margin: 0 auto rem(16);
  }
}

.user__review-small {
  font-size: rem(10);
  display: flex;
  justify-content: flex-end;
  line-height: 1.5;
  letter-spacing: 0.06em;
  @include mq(md) {
      font-size: rem(12);
  }
}