@use "global" as *;

.voice{
  text-align: center;
  line-height: 1.75;
}

.voice .inner{
  @include mq(md) {
    padding: 0;
  }
}

.voice__inner{
  border-top: 3px solid #d4145a;
  border-bottom: 3px solid #d4145a;
  position: relative;
  padding-top: rem(25);
  padding-bottom: rem(44);
  margin-bottom: rem(72);
  @include mq(md) {
      background-color: #fdf8f9;
      border-top: none;
      border-bottom: 4px solid #d4145a;
      padding-top: rem(56);
  margin-bottom: rem(58);
  }
}

.voice__inner::before,
.voice__inner::after{
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background:
      linear-gradient(to right,
        #d4145a 0%,
        #d4145a 50%,
        #ffffff 51%,
        #ffffff 100%)
        repeat-x left bottom/6px 1px;
        @include mq(md) {
              background:
              linear-gradient(to right,
                #d4145a 0%,
                #d4145a 50%,
                #ffffff 51%,
                #ffffff 100%) repeat-x left bottom/12px 2px;
        }
}

.voice__inner::before{
  top: rem(8);
  @include mq(md) {
      top: 0;
  }
}
.voice__inner::after {
  bottom: rem(8);
}

.voice__head-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(30);
  margin-bottom: rem(28);
}

.voice__text-wrapper{
  @include mq(md) {
      display: flex;
      justify-content: center;
      gap: rem(52);
  }
}

.voice__illust {
  width: rem(100);
  margin-left: rem(4);
  @include mq(md) {
      width: rem(94);
  }
}

.voice__image--mb72{
  margin-bottom: rem(72);
  @include mq(md) {
      margin-bottom: rem(48);
  }
}

.voice__image--mb56{
  margin-bottom: rem(56);
  @include mq(md) {
      margin-bottom: rem(68);
  }
}

.voice__head {
  flex-shrink: 0;
  font-size: rem(19);
  @include mq(md) {
      font-size: rem(24);
  }
}

.voice__text--sachiko{
  @include mq(md) {
      line-height: 1.33;
  }
}

.voice__text--fz14{
  font-size: rem(14);
  line-height: 1.9;
  @include mq(md) {
      font-size: rem(18);
  }
}

.voice__text--mb62{
  margin-bottom: rem(62); 
  @include mq(md) {
      margin-bottom: rem(60);
  }
}

.voice__text--mb56{
  margin-bottom: rem(56);
}

.voice__text--mb82{
  margin-bottom: rem(82);
  @include mq(md) {
      margin-bottom: rem(36);
  }
}
.voice__text--mb36{
  margin-bottom: rem(36);
  @include mq(md) {
      margin-bottom: rem(80);
  }
}
.voice__text--mb30{
  margin-bottom: rem(30);
}
.voice__text--mb63{
  margin-bottom: rem(63);
  @include mq(md) {
      margin-bottom: rem(20);
  }
}


.voice__text-border {
  border-bottom: 1px solid $black;
}

.voice__text-fz19 {
  font-size: rem(19);
  line-height: 1;
  @include mq(md) {
      font-size: rem(22);
      line-height: 1.55;
  }
}

.voice__arrow {
  display: inline-block;
  width: rem(187);
  margin-bottom: rem(48);
  @include mq(md) {
    width: rem(278);
    margin-bottom: rem(72);
  }
}


.voice__article{
  margin-bottom: rem(48);
}