@use "global" as *;

.voice{
  text-align: center;
  line-height: 1.75;
}

.voice__inner{
  border-top: 3px solid #d4145a;
  border-bottom: 3px solid #d4145a;
  position: relative;
  padding-top: rem(25);
  padding-bottom: rem(50);
  margin-bottom: rem(88);
}

.voice__inner::before,
.voice__inner::after{
  content: "";
  width: 100%;
  height: 1px;
  // background-color: #d4145a;
  position: absolute;
  left: 0;
  background:
      linear-gradient(to right,
        #d4145a 0%,
        #d4145a 50%,
        #ffffff 51%,
        #ffffff 100%)
        repeat-x left bottom/6px 1px;
}

.voice__inner::before{
  top: rem(8);
}
.voice__inner::after {
  bottom: rem(8);
}

.voice__head-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(22);
  margin-bottom: rem(34);
}

.voice__image {}

.voice__image--mb80{
  margin-bottom: rem(80);
}

.voice__image--mb60{
  margin-bottom: rem(60);
}

.voice__head {
  flex-shrink: 0;
  font-size: rem(19);
}

.voice__text {}


.voice__text--mb66{
  margin-bottom: rem(66); 
}

.voice__text--mb60{
  margin-bottom: rem(60);
}
.voice__text--mb88{
  margin-bottom: rem(88);
}
.voice__text--mb36{
  margin-bottom: rem(36);
}
.voice__text--mb30{
  margin-bottom: rem(30);
}
.voice__text--mb68{
  margin-bottom: rem(68);
}


.voice__text-border {
  border-bottom: 1px solid $black;
}

.voice__text-fz19 {
  font-size: rem(19);
}

.voice__arrow {
  width: rem(187);
  display: inline-block;
  margin-bottom: rem(48);
}


.voice__article{
  margin-bottom: rem(48);
}