@use "global" as *;

.what {}

.what .inner {
  @include mq(md) {
    padding: 0;
  }
}

.what__title{
  // font-size: rem(31);
  // position: relative;
  // text-align: center;
  // color: #ffff64;
  margin-bottom: rem(24);
  @include mq(md) {
      margin-bottom: rem(40);
  }

}

// .what__title::before{
//   content: "";
//   background-image: url(../images/common/suppon-speech-bable.webp);
//   background-repeat: no-repeat;
//   background-size: contain;
//   width: 100%;
//   height: rem(126);
//   position: absolute;
//   display: inline-block;
//   z-index: -1;
//   left: 0;
//   top: -50%;
//   background-position: bottom center;
// }

.what__image-record {
  margin-bottom: rem(28);
  @include mq(md) {
      width: rem(600);
      margin: 0 auto rem(64);
  }
}

.what__image-cosme {
  margin-bottom: rem(12);
}

.what__small-text {
  font-size: rem(10);
  text-align: right;
  letter-spacing: 0.12em;
  @include mq(md) {
      font-size: rem(12);
  }
}