@use "global" as *;

.yamasa .inner {
  @include mq(md) {
    padding: 0;
  }
}

.yamasa__text {
  text-align: center;
  font-size: rem(14);
  @include mq(md) {
      font-size: rem(18);
  }
}

.yamasa__text--fz16{
  font-size: rem(16);
  @include mq(md) {
      font-size: rem(18);
  }
}

.yamasa__text-small{
  font-size: rem(10);
  line-height: 2.8;
  display: inline-block;
  @include mq(md) {
      font-size: rem(18);
      line-height: 1.78;
  }
}

.yamasa__text-fz19{
  font-size: rem(19);
  @include mq(md) {
      font-size: rem(22);
  }
}

.yamasa__text-fz16{
  font-size: rem(16);
  @include mq(md) {
      font-size: rem(22);
  }
}
.yamasa__text--mb14{
  margin-bottom: rem(14);
}

.yamasa__text--mb28{
  @include mq(md) {
      margin-bottom: rem(78);
  }
  margin-bottom: rem(28);
}

.yamasa__text--mb68{
  margin-bottom: rem(68);
  @include mq(md) {
      margin-bottom: rem(52);
  }
}

.yamasa__image-shop {
  margin-bottom: rem(32);
}

.yamasa__image-logo {
  width: rem(167);
  margin: 0 auto rem(49);
  @include mq(md) {
  margin: 0 auto rem(58);
  }
}

.yamasa__image_tabelog {
  @include mq(md) {
      width: rem(498);
      margin: 0 auto;
  }
}

.yamasa__text--lh{
  line-height: 1.9;
}